<link rel="stylesheet" href="/stylesheets/style.css" />
<nav id="authnavbar">
  <a class="navbutton" id="navSignIn" href="/auth/sign-up">Sign Up</a>
  <h1 id="authLogo">Cook Book</h1>
  <a class="navbutton" id="navSignUp" href="/auth/sign-in">Sign In</a>
</nav>
