<link rel="stylesheet" href="/stylesheets/style.css" />
<section id="navcent">
  <nav id="authnavbar">
    <a class="navbutton" href="/recipes/new">New Recipe</a>
    <a class="navbutton" href="/recipes">My Recipe</a>
    <a id="authLogo" href="/recipes">My Recipe</a>
    <a class="navbutton" href="/ingredients">My Ingredient</a>
    <a class="navbutton" href="/ingredients/new">New Ingredient</a>
  </nav>
  <div>
    <a class="navbutton" href="/auth/sign-out">sign-out</a>
  </div>
</section>
