<!-- views/index.ejs -->
<link rel="stylesheet" href="/stylesheets/style.css" />
<body>
  <%- include('./partials/authnavbar.ejs') %>
  <section>
    <p>Welcome to Open House</p>
  </section>
</body>
