<%- include('../partials/navbar.ejs') %>
<link
  href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
  rel="stylesheet"
/>
<form
  id="authsinging"
  action="/recipes"
  method="POST"
  enctype="multipart/form-data"
>
  <label for="name">recipe:</label>
  <input type="text" name="name" id="name" />
  <label for="instructions">instructions:</label>
  <input type="text" name="instructions" id="instructions" />

  <label for="ingredients">Select Ingredients:</label>
  <select
    id="ingredients"
    name="ingredients"
    multiple="multiple"
    style="width: 100%"
  >
    <% ingredients.forEach((ingredient) => { %>
    <option value="<%= ingredient._id %>"><%= ingredient.name %></option>
    <% }) %>
  </select>

  <label for="image">recipe image:</label>
  <input type="file" name="image" id="image" />

  <button type="submit">Add recipe</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function () {
    $('#ingredients').select2({
      placeholder: 'Select ingredients',
      allowClear: true
    })
  })
</script>
